*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(219, 202, 217);
}
table{
    border-collapse: collapse;
    width: 70%;
    
}
table,
th,
td{
    border: 2px solid rgb(70, 68, 68);
    border-color: #eee;
    border-radius: 8px;
}

th,
td{
    padding: 15px;
}
.pad-3{
    background-color: rgb(0, 0, 0);
    color: #eee;
}
tbody tr:nth-child(odd){
    background: rgb(184, 180, 180);
}
tbody tr:nth-child(even){
    background: rgb(37, 36, 36);
    color: #fff;
}
caption{
    caption-side: bottom;
    font-size: 2rem;
    letter-spacing: 1.5;
}
.pad-2{
    padding: 7rem;
}